p {
    color: black;
	font-family: arial, helvetica, serif
}

a {
    color: blue;
}
body {
    font-size: 14px;
    color: navy;
	background-color: #ede;
	border-style: dashed;
    border-width: 10px;
    border-left-width: 10px;
    border-right-width: 10px;
    border-color: red;
}
/*so this is a comment. you're welcome*/
h1 {
    color: #ffc;
    background-color: #009;
	font-style: italic
}
h2 {
	h2 {
    font-size: 1.5em;
    background-color: #ccc;
    margin: 20px;
    padding: 40px;
}
}
